@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: ubuntu-light;
    src: url(assets/Ubuntu-Light.ttf);
}
@font-face {
    font-family: ubuntu;
    src: url(assets/Ubuntu-Regular.ttf);
}
@font-face {
    font-family: ubuntu-bold;
    src: url(assets/Ubuntu-Bold.ttf);
}

.font-light {
    font-family: ubuntu-light;
}
* {
    font-family: ubuntu;
}
.font-bold {
    font-family: ubuntu-bold;
}

input, input:hover, input:active {
    -webkit-appearance: none;
    border: none;
    outline: none;
}

button:active {
    outline: none;
    border: none;
}

button:focus {
    outline: 0;
}

.shadow-bottom {
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.03);
}

.blue-gradient {
    background: linear-gradient(184.07deg, #FFFFFF -26.57%, #00AEEF 38.78%, #00AEEF 49.13%, #00AEEF 58.18%, #00AEEF 67.37%, #FFFFFF 132.56%);
    color: #FFFFFF !important;
}

